<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список хирургов</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Подключение стилей -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/surgeons.js"></script> <!-- Подключение JavaScript-файла -->
</head>
<body>
<div class="container">
  <h1>Список хирургов</h1>
  <table id="surgeonsTable">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Стаж работы</th>
      <th>Образование</th>
      <th>Контактные данные</th>
      <th>Имя пользователя</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные хирургов будут добавлены сюда с помощью JavaScript -->
    </tbody>
  </table>
</div>
</body>
</html>